/*Twitter module styling*/
.tweet-list .card {
    background-color: transparent;
    padding: 0;
}

    .tweet-list .card .card-header {
        background-color: transparent;
        border-bottom: none;
        padding: 0;
    }

    .tweet-list .card .card-footer {
        background-color: transparent;
        border-top: none;
    }
