/*Twitter module styling*/
.tweet-list .card {
    background-color: transparent;
    padding: 0;
}

.tweet-list .card .card-header {
    background-color: transparent;
    border-bottom: none;
    padding: 0;
}


.tweet-list .card .card-footer {
    background-color: transparent;
    border-top: none;
}

.tweet-list .tweet_body{
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 50px;
}
    
.tweet-list .tweet-avatar img{
  vertical-align: middle; 
}

.timestamp-color {
  color: #30322f;
}

.tweet-avatar-pic{
    border-radius:50%;
}
.tweet-avatar-pic:hover{
    opacity:.8;
}
.tweet-tick{
    width:15px;
    height:15px;
}